<%= form_for @topic, :url => topics_path do |f| %>

  <%= render :partial => "form" , :locals => {:f => f} %>

  <div class="form-group">
    <%= f.submit "Create", :class => "btn btn-primary" %>
  </div>
<% end %>